{% extends 'layout.html' %}
{% block content %}
<div class="wrapper">
	<div class="logo"></div>
	<div class="calculator">
		<input class="display" type="text" disabled>
		<div class="calculator-keys">
			<button class="operators">+</button>
			<button class="operators">-</button>
			<button class="operators">/</button>
			<button class="operators">*</button>
			<button class="digits">0</button>
			<button class="digits">1</button>
			<button class="digits">2</button>
			<button class="digits">3</button>
			<button class="digits">4</button>
			<button class="digits">5</button>
			<button class="digits">6</button>
			<button class="digits">7</button>
			<button class="digits">8</button>
			<button class="digits">9</button>
			<button class="digits">.</button>
			<button class="clear">C</button>
			<button class="equals">=</button>
		</div>
	</div>
</div>

{% endblock %}
